<div class="flex items-center py-3 px-4 border-b hover:bg-gray-50">
  <div class="flex-1 text-gray-800"><%= bank_account.name %></div>
  <div class="flex-1 text-gray-800"><%= number_to_currency(bank_account.balance) %></div>
  <div class="flex-1 flex justify-end text-right space-x-2">
    <%= link_to 'Edit', edit_bank_account_path(bank_account), class: 'bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600' %>
    <%= button_to 'Delete', bank_account_path(bank_account), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600' %>
  </div>
</div>
