
<div class="mx-auto p-6">
  <!-- Page Header -->
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Bank Accounts</h1>
    <%= link_to 'New Account', new_bank_account_path, class: 'bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600' %>
  </div>

  <!-- Filter Input -->
  <div data-controller="debounce" data-debounce-delay-value="500">
    <%= form_with url: bank_accounts_path, method: :get, data: { turbo_stream: true }, class: "flex items-center space-x-2" do |form| %>
      <%= form.text_field(:name, value: params[:name], placeholder: "Filter by name", 
            class: "border rounded-lg px-4 py-2 shadow-sm focus:ring-blue-500 focus:border-blue-500", 
            data: { action: "input->debounce#submit" }) %>
    <% end %>
  </div>
</div>

  <!-- Bank Accounts List -->
  <turbo-frame id="bank-accounts">
    <%= render partial: "bank_accounts/bank_accounts_list", locals: { bank_accounts: @bank_accounts } %>
  </turbo-frame>
</div>

